/* Makes our label white. */
.blocklyTreeLabel {
    color: white;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: .5em;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
}

/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}

/* Colors for the flyout background fill */
.movement {
    fill: #61b0ff;
}
.events {
    fill: #fae34b
}

.looks {
    fill: #dc75f3
}

